<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, value: current_user.name, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :address, class: "label" %>
    <%= form.text_field :address, value: current_user.address, class: "input" %>
  </div>

  <p>Notes: <%= @note[0..-3] %></p>
  <p>Items: <%= @total %></p>
  <p>Taxes: <%= number_with_precision(@taxes, precision: 2) %></p>
  <p>Order total: <%= number_with_precision(@total + @taxes, precision: 2) %>

  <%# HIDDEN FIELD user_id %>
  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <%# HIDDEN FIELD status %>
  <div class="field">
    <%= form.hidden_field :status, value: "Confirmed" %>
  </div>

  <%# HIDDEN FIELD total %>
  <div class="field">
    <%= form.hidden_field :total, value: @total %>
  </div>

  <%# HIDDEN FIELD note %>
  <div class="field">
    <%= form.hidden_field :note, value: @note[1..-3] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
