<p id="notice"><%= notice %></p>

<h1>Products</h1>

<details>
  <summary>Cart</summary>
  <ul>
    <% @cart.each do |product| %>
      <li><%= product.name %> | <%= link_to 'remove', remove_from_cart_path(product), method: :delete %></li>
    <% end %>
    <li><%= button_to 'Checkout', new_order_path, method: :get %></li>
  </ul>
</details>

<div class="container">
  <ul class="columns is-multiline">
    <% @products.each do |product| %>
      <%= render partial: 'product', object: product %>
    <% end %>
  </ul>
  <%= paginate @products %>
</div>
