<!DOCTYPE html>
<html>
  <head>
    <title>Cyberwave</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  </head>

  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-menu">
        <div class="navbar-start">
          <%= link_to 'Home', root_path, :class => 'navbar-item' %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Categories</a>
            <div class="navbar-dropdown">
              <% @categories.each do |category| %>
                <%= link_to category.name, category %>
                <br>
              <% end %>
            </div>
          </div>
          <%= link_to 'About', '/p/about', :class => 'navbar-item' %>
          <%= link_to 'Contact', '/p/contact', :class => 'navbar-item' %>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
